# 데이터 폴더 제외
19LLM/data/
19LLM/glove_data/
19LLM/__pycache__/
19LLM/trainig_checkpoints/
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/

# OS 파일
.DS_Store
Thumbs.db


.gitignore
19LLM/results/checkpoint-500/config.json
19LLM/results/checkpoint-500/model.safetensors
19LLM/results/checkpoint-500/optimizer.pt
19LLM/results/checkpoint-500/rng_state.pth
19LLM/results/checkpoint-500/scheduler.pt
19LLM/results/checkpoint-500/trainer_state.json
19LLM/results/checkpoint-500/training_args.bin
