# 데이터 폴더 제외
19LLM/data/
19LLM/glove_data/
19LLM/__pycache__/
19LLM/trainig_checkpoints/
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/

# OS 파일
.DS_Store
Thumbs.db


.gitignore
19LLM/results/checkpoint-500/config.json
19LLM/results/checkpoint-500/model.safetensors
19LLM/results/checkpoint-500/optimizer.pt
19LLM/results/checkpoint-500/rng_state.pth
19LLM/results/checkpoint-500/scheduler.pt
19LLM/results/checkpoint-500/trainer_state.json
19LLM/results/checkpoint-500/training_args.bin
19LLM/results/
19LLM/{C2857F97-6975-41D5-9909-A3EB11591652}.png

# env 파일
.env
*.env

# gpt ai 관련
19LLM/0_openai.ipynb
20openai/KoAlpaca.jsonl
20openai/KoAlpaca2.jsonl
20openai/KoAlpaca_100.jsonl
20openai/chunks_output_4_2_RAG2.pkl
20openai/vectordb_config_4_4_RAG2.2.pkl
20openai/chroma_db_reg2/chroma.sqlite3
20openai/chroma_db_reg2/8358a3cd-0fda-43ab-b906-6afe8d1d42ec/data_level0.bin
20openai/chroma_db_reg2/8358a3cd-0fda-43ab-b906-6afe8d1d42ec/header.bin
20openai/chroma_db_reg2/8358a3cd-0fda-43ab-b906-6afe8d1d42ec/length.bin
20openai/chroma_db_reg2/8358a3cd-0fda-43ab-b906-6afe8d1d42ec/link_lists.bin
20openai/chroma_db_advance_fusion/chroma.sqlite3
20openai/chroma_db_advance_fusion/1b11650a-878a-49b5-8e63-40d4b9035b4e/data_level0.bin
20openai/chroma_db_advance_fusion/1b11650a-878a-49b5-8e63-40d4b9035b4e/header.bin
20openai/chroma_db_advance_fusion/1b11650a-878a-49b5-8e63-40d4b9035b4e/length.bin
20openai/chroma_db_advance_fusion/1b11650a-878a-49b5-8e63-40d4b9035b4e/link_lists.bin
20openai/chroma_db_advance_fusion/

# bin, pkl 파일
.bin
.pkl
*.bin
*.pkl